 /* {
  background-color: rgba(0,0,0,1.00)!important;
} */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past, #t9.past, #t10.past, #t11.past, #t12.past, #t13.past,#t14.past, #t15.past, #t16.past, #t17.past {
    background-color: #d3d3d3 !important;
    color: white;
  }
  
  .present, #t9.present, #t10.present, #t11.present, #t12.present, #t13.present,#t14.present, #t15.present, #t16.present, #t17.present {
    background-color: #ff6961 !important;
    color:white;
  }
  
  .future, #t9.future, #t10.future, #t11.future, #t12.future, #t13.future,#t14.future, #t15.future, #t16.future, #t17.future {
    background-color: #77dd77 !important;
    color:white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  